@charset "UTF-8";
/*text-shadow na sequencia é x, y, espalhamento e dps cor*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #c5ebd6;
    --cor1: #63E18F;
    --cor2: #1EDB5F;
    --cor3: #18A84A;
    --cor4: #0D5C28;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Helvetica, Verdana, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --font-android: 'Android', sans-serif;   
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 20px;
}

header > h1{
    color: var(--cor0);
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.582);
}
header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.582);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.493);
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5px;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

main h1{
    color: var(--cor5);
    font-family: var(--font-android);
    font-size: 1.6em;
    font-weight: normal;
}
main h2{
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), white);
    text-indent: 6px;
}

main p {
    margin: 10px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

main strong{
    color: var(--cor5);
    font-size: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor2);
    color: var(--cor4);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color:var(--cor3);
}

main img{
    width: 100%;
}

main img.pequena{
    margin: auto;
    max-width: 350px;
    display: block;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -15px 30px -15px;
    padding: 20px;
    padding-bottom: 60%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.432);
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 5px 5px 0px 0px;
}

ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 3px;
}